<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<div>
    <h2>Register</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <p style="color:red">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="post">
        <input name="email" type="email" placeholder="Email" required><br>
        <input name="password" type="password" placeholder="Password" required><br>
        <button>Register</button>
    </form>
    <p><a href="/login">Login</a></p>
</div>
</body>
</html>
