<!DOCTYPE html>
<html>
<head>
    <title>Send Report</title>
</head>
<body>

<h2>📊 Generate & Email Report</h2>

<form action="/send_report" method="POST">
    <label>Select Date Range:</label><br>
    From: <input type="date" name="start_date" Dec 22 2025>
    To: <input type="date" name="end_date" Jan 5 2026 ><br><br>

    <label>Send to Email:</label>
    <input type="email" name="email" required><br><br>

    <button type="submit">📩 Generate and Send Report</button>
</form>

</body>
</html>
